
.border {
    border: 1px, solid, white;
}

.card {
padding: 15px;

}

.fondeando {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 275px;
    text-align: center;
    padding: 0;
    border: 0;
   }

body {
    background-color: black;
          max-width: 1980px;
   
}
.noticias {
        justify-content: center;
    
}


/* Comienzo formato y efectos menu y footer */



.fondo {
    
    background-color: black;

}

header a {  
    text-decoration: none;
    color: #ffffff;   
    display: block;
    font-family: 'Lalezar', cursive;
}

footer a {  
    text-decoration: none;
    color: #ffffff;   
    display: block;
    font-family: 'Lalezar', cursive;
}

header a:hover   { 
    text-decoration: none;
    background: #467326;
    color: #0d0d0d;
    font-family: 'Lalezar', cursive;
}

footer a:hover {
    text-decoration: none;
    background: #467326;
    color: #0d0d0d;
    font-family: 'Lalezar', cursive;
}

header nav ul li {
    width: 100px;
    display: inline-block;
    text-align: center;
    padding-left: 5px;
}  

footer nav ul li {
    width: 100px;
    display: inline-block;
    text-align: center;
    padding-left: 5px;
}

li.social {
    width: 25px;
    display: inline-block;
    text-align: center;

} 
.logo {
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 295px;
    text-align: center;
    padding: 0;
    border: 0;
}
.logo img {
    max-height: 280px;
}

ul.footer {
    list-style: none; 
    padding: 0;
    margin: 0;
    background: rgb(0, 0, 0);

}

/* fin formato y efectos menu y footer */